.img1{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
.img-fluid{
    width: 100%;
    height: 300px;
}
.form1{
    background-color: lightsteelblue;
    padding: 40px;
}
.container1{
    padding: 60px;
}